.bv-box{
  width: 22px;
  height: 22px;
}

.selectify{
  display: inline-block;
}
.selectify *{
  padding: 0;
  margin: 0;
}
.selectify-header{
  background: #ffffff;
  cursor: pointer;
  border: 1px solid #cccccc;
  padding-left: 10px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.selectify-header.disabled{
  background-color: #EEEEEE;
  cursor: default;
}
ul.selectify-list{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-top: none;
  list-style: none;
}
ul.selectify-list li{
  cursor: pointer;
  height: 36px;
  font-size: 12px;
  line-height: 36px;
  padding-left: 10px;
}
ul.selectify-list li:hover, ul.selectify-list li.active{
  background-color: #e4f3fa;
  color: #2395C5;
}